@{
    ViewData["Title"] = "Dental Clinic";

}


<style>
    .rounded-frame {
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 20px;
    }

</style>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("PatientView", "Home")">
                            <span data-feather="home"></span>
                            Panou Principal <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Appointment/Appointment">Programări</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Treatments/Visit">Tratamente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Pacienți
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               <h2></h2>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ziua</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Săptămâna</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Luna</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        Această Săptămână
                    </button>
                </div>
            </div>
            <!-- Account Details -->
            <div class="row">

                <div class="col-md-6">
                    <h2>Detaliile Contului</h2>
                    <div class="form-group">
                        <label for="inputRole">Rol:</label>
                        <input type="text" class="form-control" id="inputRole" value="Pacient" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Prenume:</label>
                        <input type="text" class="form-control" id="inputFirstName" value="@ViewBag.FirstName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Nume:</label>
                        <input type="text" class="form-control" id="inputLastName" value="@ViewBag.LastName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email:</label>
                        <input type="email" class="form-control" id="inputEmail" value="@ViewBag.Email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Mobil:</label>
                        <input type="tel" class="form-control" id="inputPhone" value="@ViewBag.PhoneNumber" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputCountry">Țară:</label>
                        <input type="text" class="form-control" id="inputCountry" value="@ViewBag.Country" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputCity">Oraș:</label>
                        <input type="text" class="form-control" id="inputCity" value="@ViewBag.City" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputZipCode">Cod Poștal:</label>
                        <input type="text" class="form-control" id="inputZipCode" value="@ViewBag.ZipCode" readonly>
                    </div>
                </div>
                <!-- Appointment Summary -->
                <div class="col-md-6">
                    <div class="rounded-frame p-2 frame">
                        <h2>Programările de Astăzi</h2>
                        @if (ViewBag.TodaysAppointments.Count == 0)
                        {
                            <p>Nu aveți nicio programare în această zi.</p>
                        }
                        else
                        {
                            <ul>
                                @foreach (var appointment in ViewBag.TodaysAppointments)
                                {

                                    @if (@appointment.Status == AppointmentStatus.Pending)
                                    {
                                        <li>@appointment.TreatmentName - @appointment.AppointmentDateTime.ToString("MM/dd/yyyy h:mm tt") - Pending</li>
                                    }
                                    else
                                    {
                                        <li>@appointment.TreatmentName - @appointment.AppointmentDateTime.ToString("MM/dd/yyyy h:mm tt") - Accepted</li>
                                    }
                                }
                            </ul>
                        }
                    </div>
                    <div class="rounded-frame p-2 frame">
                        <h2>Programările Viitoare</h2>
                        @if (ViewBag.UpcomingAppointments.Count == 0)
                        {
                            <p>Nu aveți nicio programare în viitorul apropiat.</p>
                        }
                        else
                        {
                            <ul>
                                @foreach (var appointment in ViewBag.UpcomingAppointments)
                                {

                                    @if (@appointment.Status == AppointmentStatus.Pending)
                                    {
                                        <li>@appointment.TreatmentName - @appointment.AppointmentDateTime.ToString("MM/dd/yyyy h:mm tt") - Pending</li>
                                    }
                                    else if (@appointment.Status == AppointmentStatus.Accepted)
                                    {
                                        <li>@appointment.TreatmentName - @appointment.AppointmentDateTime.ToString("MM/dd/yyyy h:mm tt") - Accepted</li>
                                    }
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
