@page
@model ManageUsersModel

<div class="container">
    <br />
    <br />
    <h1>Gestionează Utilizatorii</h1>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID Utilizator</th>
                <th>Email</th>
                <th>Prenume</th>
                <th>Nume</th>
                <th>Mobil</th>
                <th>Țară</th>
                <th>Oraș</th>
                <th>Cod Poștal</th>
                <th>Rol</th>
                <th>Editează / Șterge</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Country</td>
                    <td>@user.City</td>
                    <td>@user.ZipCode</td>
                    <td>@user.Role</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Edit and Delete">
                            <form method="get" asp-area="Identity" asp-page="/Account/EditUsers" asp-route-id="@user.UserId">
                                <button type="submit" class="btn btn-primary" style="background-color: #34a8eb"><i class="fa fa-pencil"></i> Editează</button>
                            </form>
                            <form method="post" asp-page-handler="Delete" asp-route-id="@user.UserId" onsubmit="return confirm('Sunteți sigur că doriți să ștergeți acest utilizator?');">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Șterge</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" href="/Identity/Account/Users/CreateDoctor" style="background-color: #34a8eb">Adaugă un Doctor Nou</a>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
}
